In [ ]:
- What is operator
- What is operators in python
- How to extend operators in object oriented programming

In [ ]:
3 + 5 = 8 
3  5 , then no operation is allowed here

## Arithmatic operators
- Arithmetic operators are used with numeric values to perform common mathematical operations

### Addition

In [1]:
2 + 3

5

In [2]:
x1 = 2
x2 = 3
y = x1 + x2
y

5

In [ ]:
- + generalized to other data type

In [3]:
y = x1 - x2
y

-1

In [4]:
+ (2, 3) = 5

SyntaxError: can't assign to operator (<ipython-input-4-72202a4af34d>, line 1)

In [2]:
+ ('first', 'second')

TypeError: bad operand type for unary +: 'tuple'

In [7]:
'first' + 'second' + ' one' + ' more'

'firstsecond one more'

# Subtraction

In [8]:
3 - 2

1

In [9]:
3.5 - 2

1.5

In [10]:
3.5 - 2.0

1.5

In [11]:
'first' - 'second'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Multiplication

In [12]:
4 * 2

8

In [13]:
4.0 * 2

8.0

In [14]:
4 * 2.0

8.0

In [15]:
'first' * 'second'

TypeError: can't multiply sequence by non-int of type 'str'

In [16]:
'first' + 'second'

'firstsecond'

In [17]:
'first' * 2

'firstfirst'

In [18]:
'first' * 3

'firstfirstfirst'

In [ ]:
n = 5

In [19]:
'first ' * 5

'first first first first first '

# Division

In [21]:
3/3

1

In [23]:
3/2

1

In [24]:
3.0 / 2

1.5

In [25]:
3 / 2.0

1.5

In [26]:
'first' / 'second'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [27]:
'first' / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Modulus

In [28]:
7 % 3

1

In [29]:
7 % 3 == 1

True

# exponentiation

In [30]:
2 ** 2

4

In [31]:
2 ** 3

8

In [32]:
2 ** 5

32

In [33]:
3 ** 4

81

In [28]:
'first' * 2

'firstfirst'

In [34]:
'first' ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# floor division

In [25]:
9 // 3

3

In [35]:
7 // 2

3

In [36]:
5 // 3

1

In [37]:
5.0 //3

1.0

In [38]:
'first' // 'second'

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [39]:
'first' // 2

TypeError: unsupported operand type(s) for //: 'str' and 'int'

### Assignment 
- Assignment operators are used to assign values to variables

In [33]:
a = 3

In [34]:
count = 3

In [35]:
count == 3

True

In [36]:
first = 0

In [37]:
second = 2

In [38]:
first == 0

True

In [39]:
second == 2

True

### Augmented assignment operators
- Assignment operator combined with arithmetic

In [ ]:
=

In [ ]:
-, +, * , %, /, //

In [40]:
value = 5

In [41]:
value

5

In [44]:
value = value + 3
value

11

In [ ]:
+=

In [45]:
value += 3

In [46]:
value

14

In [ ]:
value = value + 3

In [47]:
value = 5
value += 3

In [48]:
value == 8

True

In [49]:
value = 5
value -= 3

In [50]:
value

2

In [51]:
value == 2

True

In [52]:
value = 5
value *= 3

In [53]:
value == 15

True

In [56]:
value = 9.0
value /= 2

In [57]:
value

4.5

In [55]:
value == 4.5

True

In [58]:
value = 8
value %= 3

In [59]:
value

2

In [58]:
value == 2

True

In [60]:
value = 5
value //= 3

In [61]:
value == 1

True

In [62]:
value = 3
value **= 2

In [63]:
value == 9

True

In [64]:
value = 3
value

3

### Comparison operators
- Comparison operators are used to compare two values.

In [65]:
# equal
value = 4
value == 4

True

In [66]:
value == 5

False

In [67]:
value == 'first'

False

In [68]:
myname = 'jacob'

In [69]:
myname

'jacob'

In [70]:
myname == 'Ron'

False

In [71]:
myname == 'jacob'

True

In [72]:
# not equal
value = 4
value !=3

True

In [73]:
a = 4

In [74]:
value == a

True

In [75]:
value > 2

True

In [76]:
# greater than
value = 4
value > 2

True

In [77]:
# less than
value = 4
value < 7

True

In [78]:
# greater than or equal to
value = 4
value >= 3

True

In [79]:
# less than or equal to
value = 4
value <= 2

False

### Identity operators
- Identity operators are used to compare the objects, not if they are equal, but if they are actually
the same object, with the same memory location.

In [80]:
a = 4

In [81]:
b = 4

In [82]:
a == b

True

In [83]:
a is b

True

In [84]:
first_team = ['Gambhir', 'Dhoni']
second_team = ['Gambhir', 'Dhoni']

In [85]:
third_team = first_team

In [7]:
# is, Returns true if both variables are the same object.

In [86]:
first_team is third_team

True

In [9]:
# is not, Returns true if both variables are not the same object.

In [10]:
# first_fruits_list and second_fruits_list are not the same objects, even if they have the same content

In [87]:
first_team is not second_team

True

In [12]:
# first_fruits_list is equal to second_fruits_list.

In [88]:
first_team == second_team

True

# Logical Operators
- Logical operators are used to combine conditional statements.

In [14]:
- and
- or

SyntaxError: invalid syntax (<ipython-input-14-9d21d516e8e2>, line 1)

In [90]:
first_value = 5
second_value = 8

In [91]:
# and, Returns True if both statements are true.

In [92]:
first_value > 0 and second_value > 0

True

In [93]:
first_value > 0

True

In [94]:
second_value > 0

True

In [95]:
first_value > 0 and second_value < 0

False

In [21]:
# or, Returns True if one of the statements is true

In [99]:
first_value < -2 or second_value < -2

False

In [23]:
# not, Reverse the result, returns False if the result is true.

In [100]:
first_value == second_value

False

In [101]:
not first_value == second_value

True

In [102]:
first_value != second_value

True

### Membership operators
- Membership operators are used to test if a sequence is presented in an object.

In [103]:
first_team = ['Gambhir', 'Dhoni']

In [104]:
# in, Returns True if a sequence with the specified value is present in the object.

In [105]:
'Gambhir' in first_team

True

In [106]:
# not in, Returns True if a sequence with the specified value is not present in the object

In [107]:
'Tendulkar' not in first_team

True