1. [Collection](#collections)
2. [String](#string)
3. [Multiple Strings](#multistring)
4. [Single Line Strings](#singlestring)
5. [Escape Sequence](#escape)
6. [String Conversion](#strconversion)
7. [String Immutable](#strimmutable)
8. [Bytes](#Bytes)
9. [Conversion between strings and bytes](#stringbytes)
10. [List](#list)
11. [Dictionary](#dict)
12. [For Loop](#forloop)
13. [Coding with collections](#codecollection)
14. [Decode byte to string](#bytestring)

<a id='Collections'></a>
### Collections
    - String
    - bytes
    - list
    - dict
    - tuple
    - set

<a id='string'></a>
### String

In [9]:
a = "data"

In [2]:
print(a)

data

In [3]:
print(type(a))

<type 'str'>

In [5]:
print("a fox is jumping on table \\n and again the fox \n jump \t fox is very intelligent")

a fox is jumping on table \n and again the fox
 jump 	 fox is very intelligent

In [6]:
"string"

'string'

In [7]:
"first" "second"

'firstsecond'

In [10]:
type(a)

str

In [13]:
a

'data'

In [12]:
a.capitalize()

'Data'

In [17]:
a.center(2)

'data'

In [18]:
a

'data'

In [20]:
a.count('a')

2

In [21]:
a.count('d')

1

In [22]:
a.encode()

'data'

In [24]:
b = a.decode()

In [25]:
type(b)

unicode

In [26]:
b

u'data'

In [27]:
type(a)

str

In [28]:
c = a.encode()

In [29]:
type(c)

str

In [31]:
a.index('a')

1

In [32]:
a

'data'

In [33]:
a.index('t')

2

In [34]:
a.islower()

True

In [37]:
a.capitalize()

'Data'

In [36]:
a.capitalize().islower()

False

In [38]:
a.join('table')

'tdataadatabdataldatae'

In [ ]:
truck.no_wheel
truk.fuel_type
truck.play_music('pen_drive')

<a id='multistring'></a>
### Multiline strings

In [39]:
"""This is
a multiline
string
"""

'This is\na multiline\nstring\n'

In [40]:
'''so
is
this.'''

'so\nis\nthis.'

<a id='singlestring'></a>
### single line string

In [41]:
m = 'This string\nspans multiple\nlines'

In [42]:
m

'This string\nspans multiple\nlines'

In [43]:
print(m)

This string
spans multiple
lines

<a id='escape'></a>
### Escape Sequence

[Python 3 Escape Sequences](https://www.quackit.com/python/reference/python_3_escape_sequences.cfm)

[List of Python Escape sequence characters with examples](https://linuxconfig.org/list-of-python-escape-sequence-characters-with-examples)

In [44]:
"This is a \" in a string."

'This is a " in a string.'

In [45]:
'This is a\' in a string'

"This is a' in a string"

In [46]:
k = 'A \\ in a string.'

In [47]:
k

'A \\ in a string.'

In [48]:
print(k)

A \ in a string.

<a id='strconversion'></a>
### string conversion

In [49]:
496

496

In [50]:
str(496)

'496'

In [51]:
str(6.02e23)

'6.02e+23'

In [16]:
s = 'parrot'

In [17]:
s[4]

'o'

<a id='strimmutable'></a>
### String Immutable

In [52]:
C = 'oslo'

In [53]:
print(C)

oslo

In [54]:
C.capitalize()

'Oslo'

In [55]:
print(C)

oslo

In [57]:
C[1] = 'r'

TypeError: 'str' object does not support item assignment

<a id='Bytes'></a>
### Bytes
- Immutable sequence

In [58]:
d = b'some bytes'

In [59]:
type(d)

str

In [ ]:
d.

In [60]:
d.split()

['some', 'bytes']

<a id='stringbytes'></a>
### Conversion between strings and bytes

In [65]:
string = 'sachine tendulkar is a good player'

In [66]:
data = string.encode('utf-8')

In [67]:
data

'sachine tendulkar is a good player'

In [68]:
type(data)

str

In [69]:
back_to_string = data.decode('utf-8')

In [70]:
back_to_string

u'sachine tendulkar is a good player'

In [71]:
type(back_to_string)

unicode

In [72]:
back_to_string == string

True

- string is a collection
- string object is immutable

<a id='list'></a>
### List
- Mutable sequences of objects

In [73]:
[2, 5, 6]

[2, 5, 6]

In [ ]:
a = ["banana", "apple", 'orange']

In [75]:
type(a)

list

In [77]:
len(a)

3

In [78]:
a[2]

'orange'

In [79]:
a[1] = 'pear'

In [80]:
a

['banana', 'pear', 'orange']

In [81]:
b = []

In [82]:
type(b)

list

In [83]:
len(b)

0

In [86]:
b.append(1.618)

In [87]:
b

[1.618, 1.618]

In [88]:
b.append(1.213)

In [89]:
b

[1.618, 1.618, 1.213]

In [90]:
list('animal')

['a', 'n', 'i', 'm', 'a', 'l']

In [91]:
s = ['orange',
     'apple',
     'banana',]

In [92]:
s

['orange', 'apple', 'banana']

In [94]:
s.count('apple')

1

In [95]:
s.extend([a])

In [96]:
s

['orange', 'apple', 'banana', ['banana', 'pear', 'orange']]

In [97]:
s.extend(a)

In [98]:
s

['orange',
 'apple',
 'banana',
 ['banana', 'pear', 'orange'],
 'banana',
 'pear',
 'orange']

In [99]:
s.append(a)

In [100]:
s

['orange',
 'apple',
 'banana',
 ['banana', 'pear', 'orange'],
 'banana',
 'pear',
 'orange',
 ['banana', 'pear', 'orange']]

In [101]:
s.reverse()

In [102]:
s

[['banana', 'pear', 'orange'],
 'orange',
 'pear',
 'banana',
 ['banana', 'pear', 'orange'],
 'banana',
 'apple',
 'orange']

In [103]:
s.remove('pear')

In [104]:
s

[['banana', 'pear', 'orange'],
 'orange',
 'banana',
 ['banana', 'pear', 'orange'],
 'banana',
 'apple',
 'orange']

In [105]:
s.sort()

In [106]:
s

[['banana', 'pear', 'orange'],
 ['banana', 'pear', 'orange'],
 'apple',
 'banana',
 'banana',
 'orange',
 'orange']

<a id='dict'></a>
### Dictionary
- Key values sequences

In [127]:
d = {'name': 'Gaurav', 'salary': 2, 'age': 40}

In [108]:
d

{'age': 40, 'name': 'Gaurav', 'salary': 2}

In [109]:
d['salary']

2

In [111]:
d['school'] = 'dav'

In [112]:
d

{'age': 40, 'name': 'Gaurav', 'salary': 2, 'school': 'dav'}

In [114]:
d['age'] = 20

In [115]:
d

{'age': 20, 'name': 'Gaurav', 'salary': 2, 'school': 'dav'}

In [117]:
e = {}

In [116]:
[]

[]

In [123]:
d.clear()

In [124]:
d

{}

In [129]:
h = d.copy()

In [130]:
id(d)

117924728L

In [131]:
id(h)

120745496L

In [132]:
d.items()

[('salary', 2), ('age', 40), ('name', 'Gaurav')]

In [133]:
d.values()

[2, 40, 'Gaurav']

In [134]:
d.keys()

['salary', 'age', 'name']

In [137]:
d.viewitems()

dict_items([('salary', 2), ('age', 40), ('name', 'Gaurav')])

<a id='forloop'></a>
### For Loop
- Items in iterable sequence

In [10]:
list_example = ['Gaurav', 'Ravi', 'Ramesh', [10, 12, 15], {'English': 50, 'Maths': 40}]

In [11]:
list_example

['Gaurav', 'Ravi', 'Ramesh', [10, 12, 15], {'English': 50, 'Maths': 40}]

In [13]:
for object1 in list_example:
    print(len(object1), object1)

(6, 'Gaurav')
(4, 'Ravi')
(6, 'Ramesh')
(3, [10, 12, 15])
(2, {'Maths': 40, 'English': 50})

In [6]:
len([10, 12])

2

In [7]:
len({'eng':50})

1

In [15]:
d = {'name': 'Gaurav', 'salary': 2, 'age': 40}

In [17]:
print(d)

{'salary': 2, 'age': 40, 'name': 'Gaurav'}

In [24]:
for key in d:
    print(key, d[key], len(key))

('salary', 2, 6)
('age', 40, 3)
('name', 'Gaurav', 4)

In [20]:
d['salary']

2

In [50]:
for key in d:
    print(key, d[key])

name Gaurav
salary 2
age 40

In [27]:
bank_name = 'state  bank of india'