### Tuple

In [1]:
t = ("Kerla", 5.678, 3)

In [2]:
t

('Kerla', 5.678, 3)

In [3]:
t[0]

'Kerla'

In [4]:
t[3]

IndexError: tuple index out of range

In [5]:
t[2]

3

In [6]:
for item in t:
    print(item)

Kerla
5.678
3

In [7]:
t + (2.34, 'python')

('Kerla', 5.678, 3, 2.34, 'python')

In [8]:
t * 5

('Kerla',
 5.678,
 3,
 'Kerla',
 5.678,
 3,
 'Kerla',
 5.678,
 3,
 'Kerla',
 5.678,
 3,
 'Kerla',
 5.678,
 3)

In [9]:
a = ((2, 3), 'ok', ('book', ('price', 'page')))

In [10]:
a

((2, 3), 'ok', ('book', ('price', 'page')))

In [11]:
h = (391)

In [12]:
h

391

In [14]:
print(type(h))

<class 'int'>

In [13]:
k = (391,)

In [14]:
print(type(k))

<type 'tuple'>

In [15]:
e = ()

In [16]:
type(e)

tuple

In [19]:
# delimiting parentheses are optional for one or more elements

In [17]:
p = 1, 1, 1, 4, 6, 19

In [18]:
p

(1, 1, 1, 4, 6, 19)

In [19]:
type(p)

tuple

In [20]:
def minmax(items):
    return min(items), max(items)

In [22]:
minmax([83, 45, 32, 67, 92, 1, 5])

(1, 92)

In [23]:
lower, upper = minmax([83, 45, 32, 67, 92, 1, 5])

In [24]:
lower

1

In [25]:
upper

92

In [26]:
tuple([5, 'minutes'])

(5, 'minutes')

In [27]:
temp1 = (1, 2, 3)

In [28]:
type(temp1)

tuple

In [30]:
temp2 = 1, 2, 3
type(temp2)

tuple

In [31]:
temp3 = ([1, 2, 3])
temp3

[1, 2, 3]

In [32]:
temp3 = tuple([1, 2, 3])
temp3

(1, 2, 3)

In [34]:
temp4 = list(temp3)

In [ ]:
temp3.

In [ ]:
temp4.

### String

In [32]:
len("fiveisbigthan8")

14

In [33]:
'have' + 'water' + 'bottle'

'havewaterbottle'

In [35]:
colors = ';'.join(['five', '#six', '$eight'])
colors

'five;#six;$eight'

In [36]:
','.join(['five', '#six', '$eight'])

'five,#six,$eight'

In [37]:
' '.join(['five', '#six', '$eight'])

'five #six $eight'

In [38]:
'1'.join(['five', '#six', '$eight'])

'five1#six1$eight'

In [39]:
colors.split(';')

['five', '#six', '$eight']

In [38]:
''.join(['green','red','blue'])

'greenredblue'

In [40]:
temp1 = '1'.join(['five', '#six', '$eight'])

In [41]:
temp1

'five1#six1$eight'

In [42]:
temp1.split('1')

['five', '#six', '$eight']

In [43]:
temp3 = 'domain'

In [ ]:
temp3.

In [44]:
"unforgetable".partition('forget')

('un', 'forget', 'able')

In [2]:
departure, separator, arrival = "unforgetable".partition('forget')

In [45]:
departure, separator, arrival = "Karnataka:Tamilnadu".partition(":")

In [46]:
departure

'Karnataka'

In [47]:
separator

':'

In [48]:
arrival

'Tamilnadu'

In [49]:
origin, _, destination = "Delhi-Kejriwal".partition("-")

In [50]:
origin

'Delhi'

In [51]:
_

'Delhi'

In [52]:
destination

'Kejriwal'

In [ ]:
'the age of jim is 32'

In [53]:
"the age of {0} is {1}".format('jim', 32)

'the age of jim is 32'

In [54]:
"The age of {0} is {1}. {0}'s birthday is on {2}".format('Fred', 24, 'october 31')

"The age of Fred is 24. Fred's birthday is on october 31"

In [57]:
"Reticulating {} spline {} of {}.".format(4, 23, 'jim')

'Reticulating 4 spline 23 of jim.'

In [17]:
"Current position {latitude} {longitude}".format(latitude= '60N', 
                                                 longitude= '5E')

'Current position 60N 5E'

In [58]:
"Current position {longitude} {latitude}".format(latitude= '60N', 
                                                 longitude= '5E')

'Current position 5E 60N'

In [59]:
loc = (45.3, 34.6, 38.9)
"missile position x = {loc[0]} y={loc[1]} z={loc[2]}".format(loc = loc)

'missile position x = 45.3 y=34.6 z=38.9'

In [61]:
import math

In [62]:
"Math constants: pi = {m.pi}, e = {m.e}".format(m = math)

'Math constants: pi = 3.14159265359, e = 2.71828182846'

In [63]:
"Math constants: pi={m.pi:.3f}, e={m.e:.3f}".format(m=math)

'Math constants: pi=3.142, e=2.718'

### Range

In [64]:
range(5)

[0, 1, 2, 3, 4]

In [65]:
for i in range(5):
    print(i)

0
1
2
3
4

In [66]:
range(5, 10)

[5, 6, 7, 8, 9]

In [67]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [68]:
list(range(10, 15))

[10, 11, 12, 13, 14]

In [69]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [71]:
s= [0,3,5,6,9.3]

In [72]:
for i in range(len(s)):
    print(s[i])

0
3
5
6
9.3

In [73]:
for value in s:
    print(value)

0
3
5
6
9.3

In [74]:
t = [8, 34, 578, 645]
for p in enumerate(t):
    print(p)

(0, 8)
(1, 34)
(2, 578)
(3, 645)

In [75]:
for i, p in enumerate(t):
    print("i = {}, v = {}".format(i, p))

i = 0, v = 8
i = 1, v = 34
i = 2, v = 578
i = 3, v = 645

In [76]:
# List

In [40]:
s = "show how to index into sequences".split()

In [41]:
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [42]:
s[4]

'into'

In [43]:
s[-5]

'how'

In [44]:
s[-1]

'sequences'

In [45]:
s[1:4]

['how', 'to', 'index']

In [46]:
s[1:-1]

['how', 'to', 'index', 'into']

In [47]:
s[3:]

['index', 'into', 'sequences']

In [48]:
s[:3]

['show', 'how', 'to']

In [49]:
s[:3] + s[3:]

['show', 'how', 'to', 'index', 'into', 'sequences']

In [50]:
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [51]:
s[:3] + s[3:] == s

True

In [52]:
full_slice = s[:]

In [53]:
full_slice

['show', 'how', 'to', 'index', 'into', 'sequences']

In [54]:
full_slice is s

False

In [55]:
full_slice == s

True

In [57]:
u = s.copy()

In [60]:
u

['show', 'how', 'to', 'index', 'into', 'sequences']

In [58]:
v = list(s)

In [59]:
v

['show', 'how', 'to', 'index', 'into', 'sequences']

In [61]:
u  == s

True

In [62]:
v == s

True

In [63]:
u is s

False

In [64]:
v is s

False

### Shallow copies

In [65]:
a = [[1, 2], [3, 4]]

In [66]:
a

[[1, 2], [3, 4]]

In [68]:
b = a[:]

In [69]:
a is b

False

In [70]:
a == b

True

In [71]:
a[0]

[1, 2]

In [72]:
b[0]

[1, 2]

In [73]:
a[0] is b[0]

True

In [74]:
a[0] = [8, 9]

In [75]:
a[0]

[8, 9]

In [76]:
b[0]

[1, 2]

In [77]:
a[1].append(5)

In [78]:
a[1]

[3, 4, 5]

In [79]:
b[1]

[3, 4, 5]

In [80]:
a

[[8, 9], [3, 4, 5]]

In [81]:
b

[[1, 2], [3, 4, 5]]

### List Repetition

In [83]:
c = [15, 21]

In [84]:
d = c * 5

In [85]:
d

[15, 21, 15, 21, 15, 21, 15, 21, 15, 21]

In [86]:
[1] * 10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [87]:
s = [[-1, + 1]] * 5

In [88]:
s

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [89]:
s[3].append(7)

In [90]:
s

[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

In [95]:
s ="India is country famous for spritiuality".split()

In [96]:
s

['India', 'is', 'country', 'famous', 'for', 'spritiuality']

In [98]:
i = w.index('famous')

In [99]:
i

3

In [100]:
s[i]

'famous'

In [101]:
s.index('games')

ValueError: 'games' is not in list

In [102]:
s.count('is')

1

In [103]:
5 in [2, 4, 6, 7]

False

In [104]:
9 not in [2, 3, 6, 9]

False

In [105]:
del s[4]

In [106]:
s

['India', 'is', 'country', 'famous', 'spritiuality']

In [107]:
s.remove('good')

ValueError: list.remove(x): x not in list

In [108]:
s.insert(2, 'whole')

In [109]:
s

['India', 'is', 'whole', 'country', 'famous', 'spritiuality']

In [110]:
''.join(s)

'Indiaiswholecountryfamousspritiuality'

In [111]:
m = [1, 2, 4, 5]

In [112]:
n = [3, 5, 6]

In [113]:
m + n

[1, 2, 4, 5, 3, 5, 6]

In [114]:
k = m+ n

In [115]:
k

[1, 2, 4, 5, 3, 5, 6]

In [116]:
k.extend([1, 2, 3])

In [117]:
k

[1, 2, 4, 5, 3, 5, 6, 1, 2, 3]

In [118]:
g = [1, 14, 16, 19]

In [119]:
g.reverse()

In [120]:
g

[19, 16, 14, 1]

In [121]:
g.sort()
g

[1, 14, 16, 19]

In [122]:
g

[1, 14, 16, 19]

In [123]:
g.sort(reverse=True)

In [124]:
g

[19, 16, 14, 1]

In [125]:
x = [4,3, 6, 9]

In [126]:
x

[4, 3, 6, 9]

In [128]:
x.sort()

In [129]:
x

[3, 4, 6, 9]

In [130]:
x1 = [2,1,5,3]

In [132]:
y = sorted(x1)

In [133]:
y

[1, 2, 3, 5]

In [134]:
x1

[2, 1, 5, 3]

In [135]:
p = [9,2,5,6]

In [137]:
q = reversed(p)

In [138]:
q

In [139]:
list(q)

[6, 5, 2, 9]

In [140]:
p

[9, 2, 5, 6]

# Dict

In [142]:
news_url = {'hindustan': 'https://www.hindustantimes.com/', 
         'timesindia': 'https://timesofindia.indiatimes.com', 
         'hindu': 'https://www.thehindu.com/'}

In [143]:
news_url

{'hindustan': 'https://www.hindustantimes.com/',
 'timesindia': 'https://timesofindia.indiatimes.com',
 'hindu': 'https://www.thehindu.com/'}

In [144]:
news_url['hindu']

'https://www.thehindu.com/'

In [145]:
names_and_marks = [('Gaurav', 30), ('Riya', 50), ('Vivek', 61), ('Sachin', 67)]

In [146]:
names_and_marks

[('Gaurav', 30), ('Riya', 50), ('Vivek', 61), ('Sachin', 67)]

In [147]:
d = dict(names_and_marks)

In [148]:
d

{'Gaurav': 30, 'Riya': 50, 'Vivek': 61, 'Sachin': 67}

In [149]:
e = d.copy()

In [150]:
e

{'Gaurav': 30, 'Riya': 50, 'Vivek': 61, 'Sachin': 67}

In [151]:
d is e

False

In [152]:
d == e

True

In [153]:
f = dict(e)

In [154]:
f

{'Gaurav': 30, 'Riya': 50, 'Vivek': 61, 'Sachin': 67}

In [155]:
d.update(f)

In [156]:
d

{'Gaurav': 30, 'Riya': 50, 'Vivek': 61, 'Sachin': 67}

In [157]:
d.update(news_url)

In [158]:
d

{'Gaurav': 30,
 'Riya': 50,
 'Vivek': 61,
 'Sachin': 67,
 'hindustan': 'https://www.hindustantimes.com/',
 'timesindia': 'https://timesofindia.indiatimes.com',
 'hindu': 'https://www.thehindu.com/'}

In [160]:
for key in d:
    print("{} => {}".format(key,d[key]))

Gaurav => 30
Riya => 50
Vivek => 61
Sachin => 67
hindustan => https://www.hindustantimes.com/
timesindia => https://timesofindia.indiatimes.com
hindu => https://www.thehindu.com/

In [161]:
for key in d:
    print("{key} => {value}".format(key = key, value = d[key]))

Gaurav => 30
Riya => 50
Vivek => 61
Sachin => 67
hindustan => https://www.hindustantimes.com/
timesindia => https://timesofindia.indiatimes.com
hindu => https://www.thehindu.com/

In [162]:
for value in d.values():
    print(value)

30
50
61
67
https://www.hindustantimes.com/
https://timesofindia.indiatimes.com
https://www.thehindu.com/

In [164]:
for key in d.keys():
    print(key)

Gaurav
Riya
Vivek
Sachin
hindustan
timesindia
hindu

In [167]:
for key, value in d.items():
    print("{key} => {value}".format(key = key, value =value))

Gaurav => 30
Riya => 50
Vivek => 61
Sachin => 67
hindustan => https://www.hindustantimes.com/
timesindia => https://timesofindia.indiatimes.com
hindu => https://www.thehindu.com/

In [169]:
'Gaurav' in d

True

In [170]:
'Ravi' in d

False

In [175]:
m = {'D': [2, 3, 5], 
     'P': [3, 4],
    'B':[5, 6]}

In [176]:
m

{'D': [2, 3, 5], 'P': [3, 4], 'B': [5, 6]}

In [177]:
m['D'] += [4, 5, 6]

In [178]:
m

{'D': [2, 3, 5, 4, 5, 6], 'P': [3, 4], 'B': [5, 6]}

In [179]:
from pprint import pprint as pp

In [180]:
pp(m)

{'B': [5, 6], 'D': [2, 3, 5, 4, 5, 6], 'P': [3, 4]}

In [181]:
### Set

In [182]:
p = {2, 4, 6, 8}

In [183]:
p

{2, 4, 6, 8}

In [184]:
type(p)

set

In [185]:
d = {}

In [186]:
d

{}

In [187]:
type(d)

dict

In [188]:
e = set()

In [189]:
type(e)

set

In [190]:
s = set([2, 5, 3, 4, 6, 5, 3])

In [191]:
s

{2, 3, 4, 5, 6}

In [192]:
for x in {3, 2, 6, 4, 8}:
    print(x)

2
3
4
6
8

In [193]:
2 in s

True

In [194]:
10 not in s

True

In [195]:
s.add(10)

In [196]:
10 in s

True

In [197]:
s.update([4, 9, 0])

In [198]:
s

{0, 2, 3, 4, 5, 6, 9, 10}

In [201]:
.remove(3)

SyntaxError: invalid syntax (<ipython-input-201-1ee16234595c>, line 1)

In [200]:
s.remove(3)

In [206]:
red_shirt = {'abhi', 'vini', 'dhruba', 'ashok'}

In [207]:
blue_trouser = {'abhi', 'harry', 'double'}

In [209]:
table = {'dhruba', 'kiran', 'chinmayi'}

In [210]:
food = {'vini', 'double'}

In [213]:
o_blood = {'harry', 'josa'}

In [214]:
ab_blood = {'Jini', 'dhruba'}

In [215]:
red_shirt.union(table)

{'abhi', 'ashok', 'chinmayi', 'dhruba', 'kiran', 'vini'}

In [216]:
table.union(red_shirt)

{'abhi', 'ashok', 'chinmayi', 'dhruba', 'kiran', 'vini'}

In [217]:
red_shirt.union(table) == table.union(red_shirt)

True

In [218]:
red_shirt.intersection(blue_trouser)

{'abhi'}

In [220]:
red_shirt.intersection(blue_trouser) == blue_trouser.intersection(red_shirt)

True

In [221]:
red_shirt.difference(blue_trouser)

{'ashok', 'dhruba', 'vini'}

In [222]:
table.issubset(red_shirt)

False

In [223]:
ab_blood.issubset(red_shirt)

False

In [224]:
ab_blood.isdisjoint(red_shirt)

False

In [225]:
o_blood.isdisjoint(ab_blood)

True