### Comprehensions

### List comprehensions

In [2]:
sen = "India is developing country where many jobs are created in last few year"

In [3]:
sen.split()

['India',
 'is',
 'developing',
 'country',
 'where',
 'many',
 'jobs',
 'are',
 'created',
 'in',
 'last',
 'few',
 'year']

In [4]:
words = "India is developing country where many jobs are created in last few year".split()

In [5]:
words

['India',
 'is',
 'developing',
 'country',
 'where',
 'many',
 'jobs',
 'are',
 'created',
 'in',
 'last',
 'few',
 'year']

In [7]:
lengths = []
for word in words:
    print(len(word))
    lengths.append(len(word))
    
print(lengths)

5
2
10
7
5
4
4
3
7
2
4
3
4
[5, 2, 10, 7, 5, 4, 4, 3, 7, 2, 4, 3, 4]

In [8]:
lengths = [len(word) for word in words]

In [9]:
lengths

[5, 2, 10, 7, 5, 4, 4, 3, 7, 2, 4, 3, 4]

In [11]:
lengths_tuple = (len(word) for word in words)

In [12]:
lengths_tuple

In [15]:
from math import factorial

In [16]:
f = [factorial(x) for x in range(20)]
f

[1,
 1,
 2,
 6,
 24,
 120,
 720,
 5040,
 40320,
 362880,
 3628800,
 39916800,
 479001600,
 6227020800L,
 87178291200L,
 1307674368000L,
 20922789888000L,
 355687428096000L,
 6402373705728000L,
 121645100408832000L]

In [17]:
[str(factorial(x)) for x in range(20)]

['1',
 '1',
 '2',
 '6',
 '24',
 '120',
 '720',
 '5040',
 '40320',
 '362880',
 '3628800',
 '39916800',
 '479001600',
 '6227020800',
 '87178291200',
 '1307674368000',
 '20922789888000',
 '355687428096000',
 '6402373705728000',
 '121645100408832000']

In [18]:
f = [len(str(factorial(x))) for x in range(20)]

In [19]:
type(f)

list

In [20]:
f

[1, 1, 1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18]

### Set comprehensions

In [21]:
{len(str(factorial(x))) for x in range(20)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18}

### Dict comprehensions

In [37]:
from pprint import pprint as pp

In [22]:
state_to_capital =  {'Karnataka': 'Bangalore',
                    'Tamilnadu': 'Chennai',
                    'UP': 'Lucknow',
                    'MP': 'Bhopal',
                    'Delhi': 'Delhi',
                    'Gujrat': 'Gandhinagar',
                    'Rajasthan': 'Jaypur',
                    'Himachal': 'Shimla',
                    'Uttranchal': 'Dehradun'}

In [23]:
state_to_capital

{'Delhi': 'Delhi',
 'Gujrat': 'Gandhinagar',
 'Himachal': 'Shimla',
 'Karnataka': 'Bangalore',
 'MP': 'Bhopal',
 'Rajasthan': 'Jaypur',
 'Tamilnadu': 'Chennai',
 'UP': 'Lucknow',
 'Uttranchal': 'Dehradun'}

In [24]:
state_to_capital.items()

[('Gujrat', 'Gandhinagar'),
 ('Uttranchal', 'Dehradun'),
 ('Karnataka', 'Bangalore'),
 ('Tamilnadu', 'Chennai'),
 ('Rajasthan', 'Jaypur'),
 ('Himachal', 'Shimla'),
 ('Delhi', 'Delhi'),
 ('UP', 'Lucknow'),
 ('MP', 'Bhopal')]

In [25]:
[state_details[0] for state_details in state_to_capital.items()]

['Gujrat',
 'Uttranchal',
 'Karnataka',
 'Tamilnadu',
 'Rajasthan',
 'Himachal',
 'Delhi',
 'UP',
 'MP']

In [26]:
capital_to_state = {capital: state for state, capital in state_to_capital.items()}

In [27]:
capital_to_state

{'Bangalore': 'Karnataka',
 'Bhopal': 'MP',
 'Chennai': 'Tamilnadu',
 'Dehradun': 'Uttranchal',
 'Delhi': 'Delhi',
 'Gandhinagar': 'Gujrat',
 'Jaypur': 'Rajasthan',
 'Lucknow': 'UP',
 'Shimla': 'Himachal'}

In [42]:
pp(state_to_capital)

{'Delhi': 'Delhi',
 'Gujrat': 'Gandhinagar',
 'Himachal': 'Shimla',
 'Karnataka': 'Bangalore',
 'MP': 'Bhopal',
 'Rajasthan': 'Jaypur',
 'Tamilnadu': 'Chennai',
 'UP': 'Lucknow',
 'Uttranchal': 'Dehradun'}

In [28]:
{state_to_capital[key]: key for key in state_to_capital}

{'Bangalore': 'Karnataka',
 'Bhopal': 'MP',
 'Chennai': 'Tamilnadu',
 'Dehradun': 'Uttranchal',
 'Delhi': 'Delhi',
 'Gandhinagar': 'Gujrat',
 'Jaypur': 'Rajasthan',
 'Lucknow': 'UP',
 'Shimla': 'Himachal'}

In [29]:
words = ['hi', 'hello', 'foxrot', 'hotel']

In [46]:
{x[0]: x for x in words}

{'h': 'hotel', 'f': 'foxrot'}

### Filtering

In [32]:
from math import sqrt

In [33]:
def is_prime(x):
    if x < 2:
        return False
    for i in range(2, int(sqrt(x)) + 1):
        if x % i == 0:
            return False
    return True

In [34]:
[x for x in range(101) if is_prime(x)]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [38]:
prime_square_divisors = {x * x: (1, x, x * x) for x in range(101) if is_prime(x)}

In [39]:
pp(prime_square_divisors)

{4: (1, 2, 4),
 9: (1, 3, 9),
 25: (1, 5, 25),
 49: (1, 7, 49),
 121: (1, 11, 121),
 169: (1, 13, 169),
 289: (1, 17, 289),
 361: (1, 19, 361),
 529: (1, 23, 529),
 841: (1, 29, 841),
 961: (1, 31, 961),
 1369: (1, 37, 1369),
 1681: (1, 41, 1681),
 1849: (1, 43, 1849),
 2209: (1, 47, 2209),
 2809: (1, 53, 2809),
 3481: (1, 59, 3481),
 3721: (1, 61, 3721),
 4489: (1, 67, 4489),
 5041: (1, 71, 5041),
 5329: (1, 73, 5329),
 6241: (1, 79, 6241),
 6889: (1, 83, 6889),
 7921: (1, 89, 7921),
 9409: (1, 97, 9409)}

- Filtering works with
    - list comprehensions
    - set comprehensions
    - dictionary comprehensions

### Iteration Protocols

In [41]:
iterable = ['jan', 'feb', 'march', 'april', 'may', 'jun']

In [42]:
iter(iterable)

In [43]:
for item in iter(iterable):
    print(item)

jan
feb
march
april
may
jun

In [44]:
for item in iterable:
    print(item)

jan
feb
march
april
may
jun

In [53]:
iterator = iter(iterable)

In [50]:
iterator

In [51]:
for item in iterator:
    print(item)

jan
feb
march
april
may
jun

In [54]:
next(iterator)

'jan'

In [55]:
next(iterator)

'feb'

In [56]:
next(iterator)

'march'

In [57]:
next(iterator)

'april'

In [58]:
next(iterator)

'may'

In [59]:
next(iterator)

'jun'

In [60]:
next(iterator)

StopIteration:

In [18]:
def first(iterable):
    iterator = iter(iterable)
    try:
        return(next(iterator))
    except StopIteration:
        raise ValueError("iterable is empty")

In [19]:
first([1, 2, 3])

1

In [20]:
first([1, 2, 3])

1

In [21]:
first([])

ValueError: iterable is empty

In [22]:
first(set())

ValueError: iterable is empty